*{
    font-family: "Manrope";
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    background-color: hsl(218, 23%, 16%);
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }